@import "src/scss/mixins";
.contentillu{
    width: 100%;

    &_title{
        margin-bottom: 5rem;
    }

    &_subtitle{
        margin-bottom: 2.4rem;
    }

    &_content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        @include media-max-width($mobile-breakpoint) {flex-direction: column;}

        &_illu {
            max-width: 500px;
            width: 100%;
            img {
              width: inherit;
              height: auto;
            }
            @include media-max-width($mobile-breakpoint) {
                margin-bottom: 2rem;
            }
        }
        &_illu:not(:last-child){
            margin-right: 2rem; 
            @include media-max-width($mobile-breakpoint) {
                margin-right: unset;
            }
        }
        
    }

    &_cta{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}