@import "src/scss/colors";
.list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    right: auto;
    height: 100%;
    &.column{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        margin-top: 4rem;
        li{
            height: 4rem;
            margin-right: unset;
            width: inherit;
            margin-bottom: 2rem;
            align-items: center;
        }
        
    }
    
    li{
        cursor: pointer;
        height: 100%;
        padding: 0 1rem;
        display: flex;
            align-items: flex-end;
            justify-content: center;
            a{
                color: white;
            }
    }
    li:hover{
        background-color:$thumbnail;
        border-radius: 8px;
    }
    
}