.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    height: 100%;
    &.column{
        flex-direction: column !important;
    }
}