.login{
    width: 100%;
    color: black;
    &_illu{
        max-width: 50rem;
        width: 100%;
        img{
            width: 100%;
            height: auto;
        }
    }

    &_body{
        &__title{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 1rem 0;
            margin-bottom: 2rem;
            text-align: left;
        }

        &__form{
            margin-bottom: 2rem;
            display: flex;
            flex-direction: column;
            & > div{
                margin-bottom: 1.5rem;
            }

            .error{
                border: 1px solid red;
            }
            .success {
                border : 1px solid green
            }

            .warning {
                border : 1px solid yellow
            }
            & > p{
                height: 2rem;
                color: white;
            } 
            .label_error{
                text-align: left;
                color: red;
            }
            .label_success{
                text-align: left;
                color: green;
            }
            .label_warning{
                text-align: left;
                color: #FFBD23
                
            }

        }

        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
}