@import "src/scss/colors";
.inputgroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 52px;
  background: #ffffff;
  border: 1px solid $grey-2;
  border-radius: .4rem;
  padding: 1rem;
  

  &_illu{
      width: 24px;
      height: 24px;
      img{
          width: 100%;
          height: auto;
      }
  }
  input{
    border: none;
    border-radius: unset;
    outline: none;
    padding: 1.5rem 1.8rem;
    flex-grow: 1;
  }
}
