

$black: #283862;
$gray: #a0a0a0;
$-soft-gray: #9b9b9b;
$violet: #746ce3;
$disabled: #c4c4c4;
$permata-bgc: #121F3D;
$permata-footer : #04143A;
$permata-bgc-secondary :#293656;
$permata-primary : #1E9C93;
$permata-secondary : #E34240; 

$onload-cover: #20232f;