

$black: #283862;
$gray: #a0a0a0;
$-soft-gray: #9b9b9b;
$violet: #746ce3;
$disabled: #c4c4c4;
$permata-bgc: #070C2C;
$permata-footer : #111429;
$permata-bgc-secondary :#293656;
$permata-primary : #7A13FD;
$permata-secondary : #E34240; 
$grey-2 : #c4cad3;

$onload-cover: #20232f;